---
---

@import "minima";

.svg-logo {
  padding-top: 5px;
  display: inline-block;
}

.title-name {
  display: inline-block;
  font-size: 2.75em;
  font-weight: lighter;
  color: #2592A7;
  opacity: 0.6;
}

a, a:visited {
  color: #2592A7;
}
